body {
    font-family: 'Roboto Slab', serif;
}

/* TOP BAR */
.top-bar {
    background-color: rgb(255, 239, 246);
}

.brand h1 {
    font-weight: bold;
    font-size: 24px;
}

.order h5 {
    font-weight: 600;
}

/* NAV BAR */
.nav-bar {
    background-color: rgb(255, 239, 246);
}

.nav-bar-row {
    background-color: rgb(199, 156, 100);
}

.nav-bar-row a {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: rgb(255, 248, 236);
}

.nav-bar-row a:hover {
    background-color: red;

}

.search-bar button {
    border: none;
}

/* MAIN CONTAINER */
.left-bar p {
    font-weight: 400;
    font-size: 14px;
}